<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-center">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-home" aria-hidden="true"></i>{{'[Hồ sơ]' | translate }} <i class="fa fa-angle-right"
              aria-hidden="true"></i>{{'[Danh mục]' | translate }}
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/hrms/profile/list/groupposition'>{{'[Nhóm chức danh]' | translate
              }}</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="groupposition" [items$]="toolItems$"
          (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>
    <!--main-content -->
    <div class="app-content">

      <div class="card-center">
        <form name="editForm" [formGroup]="editForm" novalidate>
          <div class="group-box">
            <div class="card-head">
              <div class="icon-info v-icon"></div>
              <label class="title">{{'[Thông tin]' | translate }} </label>
            </div>
            <!--  -->
            <div class="row">

              <div class="col-sm-6">
                <div class="form-group vertical">
                  <label class="e-float-text required">{{'[Mã]' | translate }}</label>
                  <input class="form-control" type="text" formControlName="code" [(ngModel)]="model.code"
                    maxlength="31">

                  <span class="input-error"
                    *ngIf="editForm.get('code')!.hasError('required') && !editForm.get('code')!.untouched">
                    {{'[Bắt buộc nhập]' | translate }}
                  </span>
                  <span class="input-error "
                    *ngIf="editForm.get('code')!.hasError('incorrect') && !editForm.get('code')!.untouched">
                    {{'[Sai định dạng]' | translate }}
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group vertical">
                  <label class="e-float-text required">{{'[Tên]' | translate }}</label>
                  <input class="form-control" type="text" formControlName="name" [(ngModel)]="model.name"
                    maxlength="51">
                  <span class="input-error"
                    *ngIf="editForm.get('name')!.hasError('required') && !editForm.get('name')!.untouched">
                    {{'[Bắt buộc nhập]' | translate }}
                  </span>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group vertical">
                  <label class="e-float-text">{{'[Ghi chú]' | translate }}</label>
                  <textarea class="form-control" formControlName="note" [(ngModel)]="model.note" id="note"
                    rows="2"></textarea>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>

<!-- CONFIRM BACK MODAL-->
<v2hrm-confirm-modal id="confirm-back-modal">
  <div class="row full-width v2hrm-modal-header">{{'[Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?]'
    | translate }}
  </div>
  <div class="row full-width v2hrm-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmBack('ok')">{{'[Đồng ý]' | translate }}</button>
    <button class="btn btn-primary" (click)="confirmBack('cancel')">{{'[Huỷ]' | translate }}</button>
  </div>
</v2hrm-confirm-modal>

<!-- CONFIRM DELETE MODAL-->
<v2hrm-confirm-modal id="confirm-delete-modal">
  <div class="row full-width v2hrm-modal-header">{{'[Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?]'
    | translate }}
  </div>
  <div class="row full-width v2hrm-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">{{'[Đồng ý]' | translate }}</button>
    <button class="btn btn-default" (click)="confirmDelete('cancel')">{{'[Huỷ]' | translate }}</button>
  </div>
</v2hrm-confirm-modal>

<!-- CONFIRM DIRECT MODAL-->
<v2hrm-confirm-modal id="confirm-direct-modal">
  <div class="row full-width v2hrm-modal-header">{{'[Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?]'
    | translate }}
  </div>
  <div class="row full-width v2hrm-modal-footer text-center">
    <button class="btn btn-primary">{{'[Đồng ý]' | translate }}</button>
    <button class="btn btn-default">{{'[Hủy]' | translate }}</button>
  </div>
</v2hrm-confirm-modal>