<div class="app-main-content">
  <div class="app-container">
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-home" aria-hidden="true"></i>{{'[Năng lực]' | translate }}<i class="fa fa-angle-right"
              aria-hidden="true"></i>{{'[Nghiệp vụ]' | translate }}
            <i class="fa fa-angle-right" aria-hidden="true"></i> <span class="brackcrum-active" href="">{{'[Từ điển năng lực]' | translate }}</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="CompetencyTranslate" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>
    <div class="app-content">
      <ejs-splitter #horizontal width='100%'>
        <e-panes>
          <e-pane>
            <ng-template #content>
              
              <div class="list-grid">
                <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async'
                  (dataStateChange)="dataStateChange($event!)" rowHeight='80' headerHeight='30'
                  [height]='configs.height() - 140' [allowPaging]='true' [pageSettings]='configs.pageSettings'
                  [enableHover]='true' [allowSorting]='true' [height]='configs.height() - 60'
                  allowResizing='true' [locale]='configs.currentLang' [allowSelection]='true' [showColumnChooser]='true'
                  [selectionSettings]='configs.selectionSettings' [editSettings]='configs.editSettings'
                  (rowSelecting)="setButtonStatus($event!)" (rowDeselecting)="setButtonStatus($event!)"
                  [allowFiltering]='true' [filterSettings]='configs.filterOption' [allowExcelExport]='true'
                  (excelQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (excelHeaderQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (pdfQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (pdfHeaderQueryCellInfo)='configs.exportQueryCellInfo($event)'>
                  <e-columns>
                    <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false'
                      [allowSorting]='false' width='40' textAlign="Center" [allowEditing]="false">
                    </e-column>
                    <e-column field='ID' [showInColumnChooser]='false' [visible]='false' headerText='ID'
                      [isPrimaryKey]='true' [allowEditing]="false">
                    </e-column>
                    <e-column field='GROUP_NAME' headerTextAlign="Center" textAlign="Center" headerText="{{'[Nhóm năng lực]' | translate }}"
                      clipMode='EllipsisWithTooltip' width='200'>
                    </e-column>
                    <e-column field='FRAME_NAME' textAlign="Left" headerText="{{'[Năng lực]' | translate }}"
                      clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <e-column field='MUC_1' textAlign="Left" headerText="{{'[Mức 1]' | translate }}" clipMode='EllipsisWithTooltip' >
                    </e-column>
                    <e-column field='MUC_2' textAlign="Left" headerText="{{'[Mức 2]' | translate }}" clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <e-column field='MUC_3' textAlign="Left" headerText="{{'[Mức 3]' | translate }}" clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <e-column field='MUC_4' textAlign="Left" headerText="{{'[Mức 4]' | translate }}" clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <e-column field='MUC_5' textAlign="Left" headerText="{{'[Mức 5]' | translate }}" clipMode='EllipsisWithTooltip'>
                    </e-column>                    
                  </e-columns>
                </ejs-grid>
              </div>
            </ng-template>
          </e-pane>
        </e-panes>
      </ejs-splitter>
    </div>

  </div>
</div>
