<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-home" aria-hidden="true"></i>{{'[Hồ sơ]' | translate }}<i class="fa fa-angle-right"
              aria-hidden="true"></i>{{'[Danh mục]' | translate }}
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/hrms/profile/list/insregimetype'>{{'[Chế độ bảo hiểm]' | translate
              }}</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="insregimetype" [items$]="toolItems$"
          (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>

    <div class="app-content">
      <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async' (dataStateChange)="dataStateChange($event!)"
        rowHeight='37' headerHeight='42' [height]='configs.height()' [allowPaging]='true'
        [pageSettings]='configs.pageSettings' [enableHover]='true' [allowSorting]='true' allowResizing='true'
        [locale]='configs.currentLang' [allowSelection]='true' [showColumnChooser]='true'
        [selectionSettings]='configs.selectionSettings' [editSettings]='configs.editSettings'
        (rowSelecting)="setButtonStatus($event!)" (rowDeselecting)="setButtonStatus($event!)" [allowFiltering]='true' [filterSettings]='configs.filterOption'
        [allowExcelExport]="true" (excelQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (excelHeaderQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (pdfQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (pdfHeaderQueryCellInfo)='configs.exportQueryCellInfo($event)'>
        <e-columns>
          <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false' [allowSorting]='false'
            width='60' textAlign="Center" [allowEditing]="false">
          </e-column>
          <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID' [isPrimaryKey]='true'
            [allowEditing]="false">
          </e-column>


          <e-column field='code' headerTextAlign="Center" textAlign="Left" headerText="{{'[Mã chế độ]' | translate }}"
            clipMode='EllipsisWithTooltip' width="120"></e-column>
          <e-column field='name' headerTextAlign="Center" textAlign="Left"
            headerText="{{'[Tên tiếng Việt]' | translate }}" clipMode='EllipsisWithTooltip' width="120"></e-column>
          <e-column field='nameEn' headerTextAlign="Center" textAlign="Left"
            headerText="{{'[Tên tiếng Anh]' | translate }}" clipMode='EllipsisWithTooltip' width="120"></e-column>
          <e-column field='dayOff' headerTextAlign="Center" textAlign="Right" textAlignHeader="Left"
            headerText="{{'[Số ngày nghỉ]' | translate }}" format="N0" clipMode='EllipsisWithTooltip'
            width="120"></e-column>
          <e-column field='percentEnjoy' headerTextAlign="Center" textAlign="Right" textAlignHeader="Left"
            headerText="{{'[Tỷ lệ hưởng]' | translate }}" format="N0" clipMode='EllipsisWithTooltip'
            width="120"></e-column>
          <e-column field='isActiveText' textAlign="Center" headerText="{{'[Trạng thái]' | translate }}"
            clipMode='EllipsisWithTooltip' width="120">
            <ng-template #template let-data>
              <div class="row-status full-width">
                <div class="status-effect text-center" *ngIf="data.isActive">
                  <span>{{'[Hiệu lực]' | translate }}</span>
                </div>
                <div class="status-not-effect text-center"
                  *ngIf="!data.isActive">
                  <span>{{'[Không hiệu lực]' | translate }}</span>
                </div>
              </div>
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>

  </div>
</div>
<!--Modal edit-->
<ejs-dialog id="animationDialog" [header]='dialogHeader' [isModal]='true' #defaultDialog [visible]='false'
  [animationSettings]='animationSettings' [showCloseIcon]='true' target='.app-container' [width]="900">
  <ng-template #content>
    <div class="card">
      <app-common-tools name="insregimetype" [items$]="toolItemsEdit$"
        (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      <form name="editForm" [formGroup]="editForm" novalidate>
        <div class="group-box">
          <!-- title -->
          <div class="card-head">
            <div class="icon-info v-icon"></div>
            <label class="title">{{'[Thông tin]' | translate }} </label>
          </div>
          <div class="row">

            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required">{{'[Mã]' | translate }}</label>
                <input class="form-control" type="text" formControlName="code" [(ngModel)]="model.code" maxlength="31">
                <span class="input-error"
                  *ngIf="editForm.get('code')!.hasError('required') && !editForm.get('code')!.untouched">
                  {{'[Bắt buộc nhập]' | translate }}
                </span>
                <span class="input-error "
                  *ngIf="editForm.get('code')!.hasError('incorrect') && !editForm.get('code')!.untouched">
                  {{'[Sai định dạng]' | translate }}
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required">{{'[Tên tiếng Việt]' | translate }}</label>
                <input class="form-control" type="text" formControlName="name" [(ngModel)]="model.name" maxlength="51">
                <span class="input-error"
                  *ngIf="editForm.get('name')!.hasError('required') && !editForm.get('name')!.untouched">
                  {{'[Bắt buộc nhập]' | translate }}
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required">{{'[Tên tiếng Anh]' | translate }}</label>
                <input class="form-control" type="text" formControlName="nameEn" [(ngModel)]="model.nameEn"
                  maxlength="51">
                <span class="input-error"
                  *ngIf="editForm.get('nameEn')!.hasError('required') && !editForm.get('nameEn')!.untouched">
                  {{'[Bắt buộc nhập]' | translate }}
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required">{{'[Số ngày nghỉ]' | translate }}</label>
                <ejs-numerictextbox format="N0" locale="en" name="dayOff" formControlName="dayOff"
                  [(ngModel)]="model.dayOff" min="0" max="999999999">
                </ejs-numerictextbox>
                <span class="input-error"
                  *ngIf="editForm.get('dayOff')!.hasError('required') && !editForm.get('dayOff')!.untouched">
                  {{'[Bắt buộc nhập]' | translate }}
                </span>
              </div>
            </div>
            <!--  -->
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text">{{'[Tỷ lệ hưởng]' | translate }}</label>
                <ejs-numerictextbox formControlName="percentEnjoy" format="N0" locale="en" name="percentEnjoy"
                  [(ngModel)]="model.percentEnjoy" min="0" max="999999999">
                </ejs-numerictextbox>
                <!-- <span class="input-error"
                *ngIf="editForm.get('percentEnjoy')!.hasError('required') && !editForm.get('percentEnjoy')!.untouched">
                {{'[Bắt buộc nhập]' | translate }}
              </span> -->
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </ng-template>
</ejs-dialog>
<!-- CONFIRM DELETE MODAL-->
<v2hrm-confirm-modal id="confirm-delete-modal">
  <div class="row full-width v2hrm-modal-header">{{'[Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?]'
    | translate }}
  </div>
  <div class="row full-width v2hrm-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">{{'[Đồng ý]' | translate }}</button>
    <button class="btn btn-default" (click)="confirmDelete('cancel')">{{'[Huỷ]' | translate }}</button>
  </div>
</v2hrm-confirm-modal>