<div class="app-main-content">
  <div class="app-container">
    <div class="app-toolbar">
      <div class="card-full">
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-home" aria-hidden="true"></i>{{'[Tuyển dụng]' | translate }} <i class="fa fa-angle-right"
              aria-hidden="true"></i>{{'[Nghiệp vụ]' | translate }}
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/hrms/recruitment/business/shiftsort'>{{'[Quản lý ứng viên]' |
              translate
              }}</span>
          </div>
        </div>
        <app-common-tools name="candidate" [items$]="toolItems$"
          (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>

    <div class="app-content">
      <ejs-splitter #splitterInstance id="nested-splitter" (created)='onCreated()' height='100%' width='100%'>
        <e-panes>
          <e-pane size='270px' max='40%'>
            <ng-template #content>
              <div id='vertical_splitter' class="vertical_splitter">
                <div>
                  <div class="content">
                    <cms-app-org showCheckBox="true"></cms-app-org>
                  </div>
                </div>
                <div>
                  <div class="content content-checkbox">
                    <ejs-checkbox label="{{'[Cả nhân viên nghỉ việc]' | translate }}" (change)="GetEmp($event!)"
                      [checked]="false">
                    </ejs-checkbox>
                    <div class="bg-ter"></div>
                  </div>
                </div>
              </div>
            </ng-template>
          </e-pane>
          <e-pane>
            <ng-template #content>
              <div class="list-grid">
                <form class="searchFrom" name="searchFrom" [formGroup]="searchFrom" novalidate
                  style="padding-bottom: 10px;">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="e-float-input">
                        <label class="e-float-text" for="fromDate">{{'[Từ ngày]' | translate }}</label>
                        <ejs-datepicker id="fromDate" format="dd/MM/yyyy" [(ngModel)]="model.fromDate"
                          (keydown)="changeDate('fromDate')" value="model.fromDate" (blur)="changeDate('fromDate')"
                          formControlName="fromDate" placeholder=".../.../...">
                        </ejs-datepicker>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="e-float-input">
                        <label class="e-float-text" for="toDate">{{'[Đến ngày]' | translate }}</label>
                        <ejs-datepicker id="toDate" format="dd/MM/yyyy" [(ngModel)]="model.toDate"
                          (keydown)="changeDate('toDate')" value="model.toDate" (blur)="changeDate('toDate')"
                          formControlName="toDate" placeholder=".../.../...">
                        </ejs-datepicker>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="e-float-input">
                        <button ejs-button cssClass="e-info" (click)="getListData()"><i aria-hidden="true"
                            class="fa fa-search"></i> Tìm kiếm</button>
                      </div>
                    </div>
                  </div>
                </form>
                <form class="updateForm" name="updateForm" [formGroup]="updateForm" novalidate
                  style="padding-bottom: 10px;">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="e-float-input">
                        <label class="e-float-text" for="statusCv">Trạng thái ứng viên</label>
                        <ejs-dropdownlist id='statusCv' [dataSource]='lststatusCv' [showClearButton]="true"
                          [(ngModel)]="model1.statusCv" formControlName="statusCv" [fields]='fields'
                          [allowFiltering]='true' (filtering)='onFiltering($event,lststatusCv)'>
                        </ejs-dropdownlist>
                      </div>
                    </div>
                  </div>
                </form>
                <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async' showColumnMenu='true'
                  (dataStateChange)="dataStateChange($event!)" [rowHeight]='gridRowHeight' headerHeight='40'
                  [allowPaging]='true' [pageSettings]='configs.pageSettings' [height]='configs.height()'
                  [enableHover]='true' (recordDoubleClick)="viewRecord($event!)" [allowSorting]='true'
                  allowResizing='true' [locale]='configs.currentLang' [allowSelection]='true' [showColumnChooser]='true'
                  [selectionSettings]='configs.selectionSettings' [editSettings]='configs.editSettings'
                  (rowSelecting)="setButtonStatus($event!)" (rowDeselecting)="setButtonStatus($event!)"
                  [allowFiltering]='true' [filterSettings]='configs.filterOption' [allowExcelExport]='true'
                  (excelQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (excelHeaderQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (pdfQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (pdfHeaderQueryCellInfo)='configs.exportQueryCellInfo($event)'>
                  <e-columns>
                    <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false'
                      [allowSorting]='false' width='50' textAlign="Center" [allowEditing]="false">
                    </e-column>
                    <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID'
                      [isPrimaryKey]='true' [allowEditing]="false">
                    </e-column>
                    <!-- <e-column field='avatar' headerTextAlign="Center" textAlign="Center" headerText="{{'[Ảnh]' | translate }}"
                      clipMode='EllipsisWithTooltip' width='100'>
                      <ng-template #template let-data>
                        <img src="{{data.avatar}}" class="grid-avatar" *ngIf="data.avatar!= null">
                      </ng-template>
                    </e-column> -->
                    <e-column field='statusCvName' headerTextAlign="Center" textAlign="Left"
                      headerText="{{'[Trạng thái ứng viên]' | translate }}" clipMode='EllipsisWithTooltip' width='180'
                      ></e-column>
                    <e-column field='code' headerTextAlign="Left" textAlign="Left"
                      headerText="{{'[Mã NV]' | translate }}" clipMode='EllipsisWithTooltip' width='100'></e-column>
                    <e-column field='fullname' headerTextAlign="Left" textAlign="Left"
                      headerText="{{'[Họ tên]' | translate }}" clipMode='EllipsisWithTooltip' width='180'>
                    </e-column>
                    <!-- <e-column field='orgName' headerTextAlign="Left" textAlign="Left"
                      headerText="{{'[Phòng ban]' | translate }}" clipMode='EllipsisWithTooltip'>
                      <ng-template #template let-data>

                        <ejs-tooltip #tooltip id='tooltip' [content]='configs.getTooltip(data.orgDesc)' cssClass="ttbg"
                          [position]='"BottomCenter"' target=".circletool" [showTipPointer]='false'>
                          <div id="box">
                            <div id='1' class="circletool">{{data.orgName}} </div>
                            <br />
                          </div>
                        </ejs-tooltip>

                      </ng-template>
                    </e-column>
                    <e-column field='positionName' headerTextAlign="Left" textAlign="Left"
                      headerText="{{'[Chức danh]' | translate }}" clipMode='EllipsisWithTooltip'>

                    </e-column>
                    <e-column field='joinDate' headerTextAlign="Center" type="date"
                      [format]="{ type: 'date', format: 'dd/MM/yyyy' }" [allowFiltering]="false" textAlign="Center"
                      headerText="{{'[Ngày vào công ty]' | translate }}" clipMode='EllipsisWithTooltip'
                      width='115'></e-column> -->

                    <e-column field='birthDate' headerTextAlign="Center" type="date"
                      [format]="{ type: 'date', format: 'dd/MM/yyyy' }" [allowFiltering]="false" textAlign="Center"
                      headerText="{{'[Ngày sinh]' | translate }}" clipMode='EllipsisWithTooltip' width='115'></e-column>
                    <!--<e-column field='birthDate' headerTextAlign="Center" textAlign="Center" headerText="{{'[Ngày sinh]' | translate }}"
                      clipMode='EllipsisWithTooltip' width='180'></e-column>-->
                    <e-column field='birthPlace' headerTextAlign="Left" textAlign="Left"
                      headerText="{{'[Nơi sinh]' | translate }}" clipMode='EllipsisWithTooltip' width='120'>
                    </e-column>
                    <e-column field='genderName' headerTextAlign="Center" textAlign="Center"
                      headerText="{{'[Giới tính]' | translate }}" clipMode='EllipsisWithTooltip' width='105'>
                    </e-column>
                    <e-column field='mobilePhone' headerTextAlign="Left" textAlign="Left"
                      headerText="{{'[SDT]' | translate }}" clipMode='EllipsisWithTooltip' width='110'>
                    </e-column>
                    <e-column field='email' headerTextAlign="Left" textAlign="Left"
                      headerText="{{'[Email]' | translate }}" clipMode='EllipsisWithTooltip' width='138'>
                    </e-column>
                    <e-column field='idNo' headerTextAlign="Left" textAlign="Left"
                      headerText="{{'[CMND]' | translate }}" clipMode='EllipsisWithTooltip' width='127'>
                    </e-column>
                    <e-column field='idDate' headerTextAlign="Left" type="date"
                      [format]="{ type: 'date', format: 'dd/MM/yyyy' }" textAlign="Center"
                      headerText="{{'[Ngày cấp]' | translate }}" clipMode='EllipsisWithTooltip' [allowFiltering]="false"
                      width='110'></e-column>
                    <e-column field='idPlace' headerTextAlign="Left" textAlign="Left"
                      headerText="{{'[Nơi cấp]' | translate }}" clipMode='EllipsisWithTooltip' width='160'>
                    </e-column>
                    <e-column field='provinceName' headerTextAlign="Left" textAlign="Left"
                      headerText="{{'[Tỉnh/TP]' | translate }}" clipMode='EllipsisWithTooltip' width='110'>
                    </e-column>
                    <e-column field='districtName' headerTextAlign="Left" textAlign="Left"
                      headerText="{{'[Quận/Huyện]' | translate }}" clipMode='EllipsisWithTooltip' width='127'>
                    </e-column>
                    <e-column field='wardName' headerTextAlign="Left" textAlign="Left"
                      headerText="{{'[Xã/Phường]' | translate }}" clipMode='EllipsisWithTooltip' width='127'>
                    </e-column>
                    <e-column field='address' headerTextAlign="Left" textAlign="Left"
                      headerText="{{'[Địa chỉ]' | translate }}" clipMode='EllipsisWithTooltip' width='150'>
                    </e-column>

                    <!-- <e-column field='workStatusName' headerTextAlign="Center" textAlign="Center"
                      headerText="{{'[Trạng thái]' | translate }}" clipMode='EllipsisWithTooltip' width='127'>
                      <ng-template #template let-data>
                        <div class="row-status full-width">
                          <div class="status-effect text-center" *ngIf="data.workStatusId == 1 ">
                            <span>{{'[Đang làm việc]' | translate }}</span>
                          </div>
                          <div class="status-warning text-center" *ngIf="data.workStatusId == 3">
                            <span>{{'[Nghỉ sinh]' | translate }}</span>
                          </div>
                          <div class="status-not-effect text-center" *ngIf="data.workStatusId == 2">
                            <span>{{'[Nghỉ việc]' | translate }}</span>
                          </div>
                          <div class="status-not-effect text-center" *ngIf="data.workStatusId == 4">
                            <span>{{'[Chưa Onboard]' | translate }}</span>
                          </div>
                        </div>
                      </ng-template>
                    </e-column> -->
                  </e-columns>
                </ejs-grid>
              </div>
            </ng-template>
          </e-pane>
        </e-panes>
      </ejs-splitter>

    </div>

  </div>
</div>

<input id="file" type="file" name="name"
  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
  style="display: none;" (change)='inputFile($event!)' />
<v2hrm-confirm-modal id="confirm-import-modal">
  <div class="row full-width v2hrm-modal-header">
    {{'[Xác nhận Import]' | translate }}
  </div>
  <div class="row full-width v2hrm-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmImport('ok')">{{'[Đồng ý]' | translate }}</button>
    <button class="btn btn-default" (click)="confirmImport('cancel')">{{'[Huỷ]' | translate }}</button>
  </div>
</v2hrm-confirm-modal>

<v2hrm-confirm-modal id="confirm-delete-modal">
  <div class="row full-width v2hrm-modal-header">
    {{'[Bạn có chắc chắn muốn xóa không ?]' | translate }}
  </div>
  <div class="row full-width v2hrm-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">{{'[Đồng ý]' | translate }}</button>
    <button class="btn btn-default" (click)="confirmDelete('cancel')">{{'[Huỷ]' | translate }}</button>
  </div>
</v2hrm-confirm-modal>