<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-home" aria-hidden="true"></i>{{'[Năng lực]' | translate }} <i
              class="fa fa-angle-right" aria-hidden="true"></i>{{'[Thiết lập]' | translate }}
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="brackcrum-active"
              href='/hrms/capacity/list/compesetposition'>{{'[Chuẩn năng lực cho từng vị trí]' | translate }}</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="compesetposition" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>

    <div class="app-content">
      <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async'
        (dataStateChange)="dataStateChange($event!)" rowHeight='37'
        headerHeight='42' [height]='configs.height()' [allowPaging]='true'
        [pageSettings]='configs.pageSettings' [enableHover]='true'
        (recordDoubleClick)="viewRecord($event!)" [allowSorting]='true'
        allowResizing='true' [locale]='configs.currentLang'
        [allowSelection]='true' [showColumnChooser]='true'
        [selectionSettings]='configs.selectionSettings'
        [editSettings]='configs.editSettings'
        (rowSelecting)="setButtonStatus($event!)"
        (rowDeselecting)="setButtonStatus($event!)" [allowFiltering]='true' [filterSettings]='configs.filterOption'
        [allowExcelExport]="true" (excelQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (excelHeaderQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (pdfQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (pdfHeaderQueryCellInfo)='configs.exportQueryCellInfo($event)'>
        <e-columns>
          <e-column type='checkbox' [showInColumnChooser]='false'
            [allowFiltering]='false' [allowSorting]='false' width='60'
            textAlign="Center" [allowEditing]="false">
          </e-column>
          <e-column field='id' [showInColumnChooser]='false' [visible]='false'
            headerText='ID' [isPrimaryKey]='true' [allowEditing]="false">
          </e-column>

          <!--  -->
          <e-column field='positionName' headerTextAlign="Center"
            textAlign="Left" headerText="{{'[Vị trí công việc]' | translate }}"
            clipMode='EllipsisWithTooltip'></e-column>
          <e-column field='capacityGroupName' headerTextAlign="Center"
            textAlign="Left" headerText="{{'[Nhóm năng lực]' | translate }}"
            clipMode='EllipsisWithTooltip'></e-column>
          <e-column field='compeFrameName' headerTextAlign="Center"
            textAlign="Left" headerText="{{'[Năng lực]' | translate }}"
            clipMode='EllipsisWithTooltip'></e-column>
          <e-column field='min' headerTextAlign="Center" textAlign="Right" headerText="{{'[Mức min]' | translate }}"
            clipMode='EllipsisWithTooltip' width="120" format='###,###,###'></e-column>
          <e-column field='max' headerTextAlign="Center" textAlign="Right" headerText="{{'[Mức max]' | translate }}"
            clipMode='EllipsisWithTooltip' width="120" format='###,###,###'></e-column>
          <e-column field='note' headerTextAlign="Center" textAlign="Left"
            headerText="{{'[Ghi chú]' | translate }}" clipMode='EllipsisWithTooltip'>
          </e-column>
          
          <!--  -->
          
        </e-columns>
      </ejs-grid>
    </div>

  </div>
</div>

<!-- CONFIRM DELETE MODAL-->
<v2hrm-confirm-modal id="confirm-delete-modal">
  <div class="row full-width v2hrm-modal-header">
   {{'[Bạn chắc chắn muốn xóa dữ liệu này?]' | translate }} 
  </div>
  <div class="row full-width v2hrm-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">{{'[Đồng ý]' | translate }}</button>
    <button class="btn btn-default"
      (click)="confirmDelete('cancel')">{{'[Huỷ]' | translate }}</button>
  </div>
</v2hrm-confirm-modal>
