<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-home" aria-hidden="true"></i>{{'[Hồ sơ]' | translate }} <i
              class="fa fa-angle-right" aria-hidden="true"></i>{{'[Thiết lập]' | translate }}
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="brackcrum-active"
              href='/hrms/attendance/list/holiday'>{{'[Thiết lập quy tắc sinh số quyết định]' | translate }}</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="decisioncreate" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>
    <div class="app-content">
      <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async'
        (dataStateChange)="dataStateChange($event!)" rowHeight='37'
        headerHeight='42' [height]='configs.height()' [allowPaging]='true'
        [pageSettings]='configs.pageSettings' [enableHover]='true'
        (recordDoubleClick)="viewRecord($event!)" [allowSorting]='true'
        allowResizing='true' [locale]='configs.currentLang'
        [allowSelection]='true' [showColumnChooser]='true'
        [selectionSettings]='configs.selectionSettings'
        [editSettings]='configs.editSettings'
        (rowSelecting)="setButtonStatus($event!)"
        (rowDeselecting)="setButtonStatus($event!)"
        [allowFiltering]='true' [filterSettings]='configs.filterOption'
        [allowExcelExport]="true" (excelQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (excelHeaderQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (pdfQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (pdfHeaderQueryCellInfo)='configs.exportQueryCellInfo($event)'>
        <e-columns>
          <e-column type='checkbox' [showInColumnChooser]='false'
            [allowFiltering]='false' [allowSorting]='false' width='50'
            textAlign="Center" [allowEditing]="false">
          </e-column>
          <e-column field='id' [showInColumnChooser]='false' [visible]='false'
            headerText='ID' [isPrimaryKey]='true' [allowEditing]="false">
          </e-column>
          <e-column field='typeDecision' headerTextAlign="Center" textAlign="Left"
            headerText="{{'[Loại]' | translate }}" clipMode='EllipsisWithTooltip' width="100"></e-column>

          <e-column field='type1' headerTextAlign="Center" textAlign="Left"
            headerText="{{'[Mã 1]' | translate }}" clipMode='EllipsisWithTooltip' width="100"></e-column>

          <e-column [isPrimaryKey]='true' width="100" field='isOrg' textAlign="Center"
            headerText="{{'[Theo phòng ban]' | translate }}">
            <ng-template #template let-data>
              <ejs-checkbox [ngModel]="data.isOrg">
              </ejs-checkbox>
            </ng-template>
          </e-column>

          <e-column field='character1' headerTextAlign="Center" textAlign="Left"
            headerText="{{'[Ký tự 1]' | translate }}" clipMode='EllipsisWithTooltip' width="100"></e-column>


            <e-column field='type2' textAlign="Center" headerText="{{'[Mã 2]' | translate }}"
            clipMode='EllipsisWithTooltip' width="100">
            <ng-template #template let-data>
              <div class="row-status full-width">
                <div class="status-effect text-center" *ngIf="data.type2 === 'YYYY'">
                  <span>{{'[Theo năm]' | translate }}</span>
                </div>
                <div class="status-not-effect text-center"
                  *ngIf="data.type2 !== 'YYYY'">
                  <span>{{'[Theo năm tháng]' | translate }}</span>
                </div>
              </div>
            </ng-template>
          </e-column>

          <e-column field='character2' headerTextAlign="Center" textAlign="Left"
            headerText="{{'[Ký tự 2]' | translate }}" clipMode='EllipsisWithTooltip' width="100"></e-column>

            <e-column field='type3' textAlign="Center" headerText="{{'[Mã 3]' | translate }}"
            clipMode='EllipsisWithTooltip' width="100">
            <ng-template #template let-data>
              <div class="row-status full-width">
                <div class="status-effect text-center" *ngIf="data.type3 === 'NODECISION'">
                  <span>Số thứ tự theo quyết định</span>
                </div>
                <div class="status-not-effect text-center"
                  *ngIf="data.type3 !== 'NODECISION'">
                  <span>Số thứ tự theo phòng ban</span>
                </div>
              </div>
            </ng-template>
          </e-column>
          <e-column field='isActive' textAlign="Center" headerText="{{'[Trạng thái]' | translate }}"
            clipMode='EllipsisWithTooltip' width="100">
            <ng-template #template let-data>
              <div class="row-status full-width">
                <div class="status-effect text-center" *ngIf="data.isActive === true">
                  <span>{{'[Hiệu lực]' | translate }}</span>
                </div>
                <div class="status-not-effect text-center"
                  *ngIf="!data.isActive === true">
                  <span>{{'[Không hiệu lực]' | translate }}</span>
                </div>
              </div>
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>

  </div>
</div>

<!-- CONFIRM DELETE MODAL-->
<!-- CONFIRM DELETE MODAL-->
<v2hrm-confirm-modal id="confirm-delete-modal">
  <div class="row full-width v2hrm-modal-header">
    {{'[Bạn có chắc chắn muốn xóa dữ liệu?]' | translate }}
  </div>
  <div class="row full-width v2hrm-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">{{'[Đồng ý]' | translate }}</button>
    <button class="btn btn-default" (click)="confirmDelete('cancel')">{{'[Huỷ]' | translate }}</button>
  </div>
</v2hrm-confirm-modal>
