<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-home" aria-hidden="true"></i>{{'[Hồ sơ]' | translate }}<i class="fa fa-angle-right"
              aria-hidden="true"></i>{{'[Danh mục]' | translate }}
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/hrms/profile/list/welfare'>{{'[Phúc lợi]' | translate }}</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="welfare" [items$]="toolItems$"
          (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>

    <div class="app-content">
      <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async' (dataStateChange)="dataStateChange($event!)"
        rowHeight='37' headerHeight='42' [height]='configs.height()' [allowPaging]='true'
        [pageSettings]='configs.pageSettings' [enableHover]='true' [allowSorting]='true' allowResizing='true'
        [locale]='configs.currentLang' [allowSelection]='true' [showColumnChooser]='true'
        [selectionSettings]='configs.selectionSettings' [editSettings]='configs.editSettings'
        (rowSelecting)="setButtonStatus($event!)" (rowDeselecting)="setButtonStatus($event!)" [allowFiltering]='true'
        [filterSettings]='configs.filterOption' [allowExcelExport]="true"
        (excelQueryCellInfo)='configs.exportQueryCellInfo($event)'
        (excelHeaderQueryCellInfo)='configs.exportQueryCellInfo($event)'
        (pdfQueryCellInfo)='configs.exportQueryCellInfo($event)'
        (pdfHeaderQueryCellInfo)='configs.exportQueryCellInfo($event)'>
        <e-columns>
          <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false' [allowSorting]='false'
            width='60' textAlign="Center" [allowEditing]="false">
          </e-column>
          <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID' [isPrimaryKey]='true'
            [allowEditing]="false">
          </e-column>


          <e-column field='code' headerTextAlign="Center" textAlign="Left" headerText="{{'[Mã phúc lợi]' | translate }}"
            clipMode='EllipsisWithTooltip' width="120"></e-column>
          <e-column field='name' headerTextAlign="Center" textAlign="Left"
            headerText="{{'[Tên phúc lợi]' | translate }}" clipMode='EllipsisWithTooltip' width="120"></e-column>
          <e-column field='monney' headerTextAlign="Center" textAlign="Right" textAlignHeader="Left"
            headerText="{{'[Số tiền]' | translate }}" format="N0" clipMode='EllipsisWithTooltip' width="120"></e-column>
          <e-column field='seniority' headerTextAlign="Center" textAlign="Right" textAlignHeader="Left"
            headerText="{{'[Thâm niên tháng]' | translate }}" clipMode='EllipsisWithTooltip' width="120">
          </e-column>
          <e-column field='contractTypeName' headerTextAlign="Center" textAlign="Left"
            headerText="{{'[Loại hợp đồng]' | translate }}" clipMode='EllipsisWithTooltip' width="120"></e-column>
          <e-column field='dateStart' headerTextAlign="Center" type="date"
            [format]="{ type: 'date', format: 'dd/MM/yyyy' }" [allowFiltering]="false" textAlign="Center"
            headerText="{{'[Ngày hiệu lực]' | translate }}" clipMode='EllipsisWithTooltip' width="120">
          </e-column>
          <e-column field='dateEnd' headerTextAlign="Center" type="date"
            [format]="{ type: 'date', format: 'dd/MM/yyyy' }" [allowFiltering]="false" textAlign="Center"
            headerText="{{'[Ngày hết hiệu lực]' | translate }}" clipMode='EllipsisWithTooltip' width="120">
          </e-column>

          <e-column field='note' headerTextAlign="Center" textAlign="Left" headerText="{{'[Ghi chú]' | translate }}"
            clipMode='EllipsisWithTooltip'>
          </e-column>

          <!--  -->
          <e-column field='isActiveText' textAlign="Center" headerText="{{'[Trạng thái]' | translate }}"
            clipMode='EllipsisWithTooltip' width="120">
            <ng-template #template let-data>
              <div class="row-status full-width">
                <div class="status-effect text-center" *ngIf="data.isActive">
                  <span>{{'[Hiệu lực]' | translate }}</span>
                </div>
                <div class="status-not-effect text-center" *ngIf="!data.isActive">
                  <span>{{'[Không hiệu lực]' | translate }}</span>
                </div>
              </div>
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>

  </div>
</div>
<ejs-dialog id="animationDialog" [header]='dialogHeader' [isModal]='true' #defaultDialog [visible]='false'
  [animationSettings]='animationSettings' [showCloseIcon]='true' target='.app-container' [width]="900">
  <ng-template #content>
    <div class="card">
      <app-common-tools name="welfare" [items$]="toolItemsEdit$"
        (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      <form name="editForm" [formGroup]="editForm" novalidate>
        <div class="group-box">
          <!-- title -->
          <div class="card-head">
            <div class="icon-info v-icon"></div>
            <label class="title">{{'[Thông tin]' | translate }} </label>
          </div>
          <div class="row">

            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required">{{'[Mã]' | translate }}</label>
                <input class="form-control" type="text" formControlName="code" [(ngModel)]="model.code" maxlength="31">
                <span class="input-error"
                  *ngIf="editForm.get('code')!.hasError('required') && !editForm.get('code')!.untouched">
                  {{'[Bắt buộc nhập]' | translate }}
                </span>
                <span class="input-error "
                  *ngIf="editForm.get('code')!.hasError('incorrect') && !editForm.get('code')!.untouched">
                  {{'[Sai định dạng]' | translate }}
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required">{{'[Tên]' | translate }}</label>
                <input class="form-control" type="text" formControlName="name" [(ngModel)]="model.name" maxlength="51">
                <span class="input-error"
                  *ngIf="editForm.get('name')!.hasError('required') && !editForm.get('name')!.untouched">
                  {{'[Bắt buộc nhập]' | translate }}
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required">{{'[Số tiền]' | translate }}</label>
                <ejs-numerictextbox formControlName="money" format="N0" locale="en" name="monney"
                  [(ngModel)]="model.monney" min="0" max="999999999">
                </ejs-numerictextbox>
                <span class="input-error"
                  *ngIf="editForm.get('money')!.hasError('required') && !editForm.get('money')!.untouched">
                  {{'[Bắt buộc nhập]' | translate }}
                </span>
              </div>
            </div>
          </div>
          <!--  -->

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text">{{'[Thâm niên từ(tháng)]' | translate }}</label>
                <ejs-numerictextbox format="N0" locale="en" name="seniority" formControlName="seniority"
                  [(ngModel)]="model.seniority" min="0" max="999999999">
                </ejs-numerictextbox>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text">{{'[Thâm niên đến(tháng)]' | translate }}</label>
                <ejs-numerictextbox format="N0" locale="en" name="seniorityTo" formControlName="seniorityTo"
                  [(ngModel)]="model.seniorityTo" min="0" max="999999999">
                </ejs-numerictextbox>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text">{{'[Tuổi con từ(tháng)]' | translate }}</label>
                <ejs-numerictextbox format="N0" locale="en" name="ageFrom" formControlName="ageFrom"
                  [(ngModel)]="model.ageFrom" min="0" max="999999999">
                </ejs-numerictextbox>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text">{{'[Tuổi con đến(tháng)]' | translate }}</label>
                <ejs-numerictextbox format="N0" locale="en" name="ageTo" formControlName="ageTo"
                  [(ngModel)]="model.ageTo" min="0" max="999999999">
                </ejs-numerictextbox>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required">{{'[Ngày hiệu lực]' | translate }}</label>
                <ejs-datepicker id="dateStart" format="dd/MM/yyyy" [(ngModel)]="model.dateStart"
                  (keydown)="changeDate('dateStart')" (blur)="changeDate('dateStart')" formControlName="dateStart"
                  placeholder=".../.../...">
                </ejs-datepicker>
                <span class="input-error"
                  *ngIf="editForm.get('dateStart')!.hasError('required') && !editForm.get('dateStart')!.untouched">
                  {{'[Bắt buộc chọn]' | translate }}
                </span>
                <span class="input-error"
                  *ngIf="editForm.get('dateStart')!.hasError('incorrect') && !editForm.get('dateStart')!.untouched">
                  {{'[Sai định dạng]' | translate }}
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text" for="ngayhachtoan">{{'[Ngày hết hiệu lực]' | translate }}</label>
                <ejs-datepicker id="dateEnd" format="dd/MM/yyyy" [(ngModel)]="model.dateEnd"
                  (keydown)="changeDateNoRequire('dateEnd')" (blur)="changeDateNoRequire('dateEnd')"
                  formControlName="dateEnd" placeholder=".../.../...">
                </ejs-datepicker>

                <span class="input-error"
                  *ngIf="editForm.get('dateEnd')!.hasError('incorrect') && !editForm.get('dateEnd')!.untouched">
                  {{'[Sai định dạng]' | translate }}
                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group vertical">
                <label class="e-float-text required" for="code">{{'[Loại hợp đồng]' | translate }}</label>
                <ejs-multiselect id="contractTypes" [mode]='mode' [dataSource]='lstContractTypes'
                  [showClearButton]="true" [fields]='fields' [(ngModel)]="model.contractTypes"
                  formControlName="contractTypes" [placeholder]="''" [allowFiltering]='true'
                  (filtering)='onFiltering($event,lstContractTypes)'>
                </ejs-multiselect>
                <span class="input-error"
                  *ngIf="editForm.get('contractTypes')!.hasError('required') && !editForm.get('contractTypes')!.untouched">
                  {{'[Bắt buộc chọn]' | translate }}
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group vertical">
                <label class="e-float-text required" for="code">{{'[Giới tính]' | translate }}</label>
                <ejs-multiselect id="genders" [mode]='mode' [dataSource]='lstGenders' [showClearButton]="true"
                  [fields]='fields' [(ngModel)]="model.genders" formControlName="genders" [placeholder]="''"
                  [allowFiltering]='true' (filtering)='onFiltering($event,lstGenders)'>
                </ejs-multiselect>
                <span class="input-error"
                  *ngIf="editForm.get('genders')!.hasError('required') && !editForm.get('genders')!.untouched">
                  {{'[Bắt buộc chọn]' | translate }}
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group vertical">
                <label class="e-float-text " for="name">{{'[Ghi chú]' | translate }}</label>
                <textarea class="form-control" formControlName="note" [(ngModel)]="model.note" id="note"
                  rows="2"></textarea>

              </div>
            </div>
          </div>


        </div>
      </form>
    </div>


  </ng-template>
</ejs-dialog>
<!-- CONFIRM DELETE MODAL-->
<v2hrm-confirm-modal id="confirm-delete-modal">
  <div class="row full-width v2hrm-modal-header">
    {{'[Bạn có chắc chắn muốn xóa dữ liệu?]' | translate }}
  </div>
  <div class="row full-width v2hrm-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">{{'[Đồng ý]' | translate }}</button>
    <button class="btn btn-default" (click)="confirmDelete('cancel')">{{'[Huỷ]' | translate }}</button>
  </div>
</v2hrm-confirm-modal>