<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-home" aria-hidden="true"></i>{{'[Công ]' | translate }}<i class="fa fa-angle-right"
              aria-hidden="true"></i>{{'[Nghiệp vụ]' | translate }}
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/hrms/profile/appbusiness/shiftsort'>{{'[Xếp ca]' | translate }}</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="shiftsort" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>
    <div class="app-content">
      <!-- spliter -->
      <ejs-splitter #horizontal width='100%'>
        <e-panes>
          <e-pane size='270px' max='40%'>
            <ng-template #content>
              <cms-app-org></cms-app-org>
            </ng-template>
          </e-pane>
          <e-pane>
            
            <ng-template #content>
              <div class="row pb-2">
                <form name="editForm" [formGroup]="editForm" novalidate>
                  <div class="row pt-2">
                    <div class="col-sm-4">
                      <div class="form-group vertical">
                        <label class="e-float-text required" for="maxValue">{{'[Năm]' | translate }}</label>
                        <ejs-numerictextbox name="year" formControlName="yearId" [(ngModel)]="model.yearId" min="2000"
                          max="2050" format='####' (change)="changeYear($event!)">
                        </ejs-numerictextbox>
                        <span class="input-error"
                          *ngIf="editForm.get('yearId')!.hasError('required') && !editForm.get('yearId')!.untouched">
                          {{'[Bắt buộc nhập]' | translate }}</span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group vertical">
                        <label class="e-float-text required" for="periodId">{{'[Kỳ lương]' | translate }}</label>
                        <ejs-dropdownlist id='periodId' [dataSource]='lstPeriodId' formControlName="periodId"
                          [(ngModel)]="model.periodId" [fields]='fields' (change)="changePeriod($event!)">
                        </ejs-dropdownlist>
                        <span class="input-error"
                          *ngIf="editForm.get('periodId')!.hasError('required') && !editForm.get('periodId')!.untouched">
                          {{'[Bắt buộc chọn]' | translate }}
                        </span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async' [height]='configs.height()-130'
                rowHeight='37' headerHeight='42' [allowPaging]='true' [pageSettings]='configs.pageSettings'
                [enableHover]='true' [allowSorting]='true' allowResizing='true' [allowExcelExport]='true'
                  (excelQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (excelHeaderQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (pdfQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (pdfHeaderQueryCellInfo)='configs.exportQueryCellInfo($event)'
                (dataStateChange)="dataStateChange($event!)" [locale]='configs.currentLang' [allowSelection]='true'
                [selectionSettings]='selectionOptions' [allowFiltering]='true' [filterSettings]='configs.filterOption' [allowTextWrap]="true"
                [textWrapSettings]="configs.wrapSettings" (queryCellInfo)='customiseCell($event!)' [enableHover]="false"
                [allowFiltering]='true' [filterSettings]='configs.filterOption'>
                <e-columns>
                  <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false'
                    [allowSorting]='false' width='40' textAlign="Center" [allowEditing]="false">
                  </e-column>
                  <e-column field='EMPLOYEE_ID' [visible]='false'>
                  </e-column>
                  <e-column field='EMPLOYEE_CODE' textAlign="Left" headerTextAlign="Center" headerText="{{'[Mã]' | translate }}"
                    clipMode='EllipsisWithTooltip' width="100">
                  </e-column>
                  <e-column field='EMPLOYEE_NAME' textAlign="Left" headerTextAlign="Center" headerText="{{'[Tên]' | translate }}"
                    clipMode='EllipsisWithTooltip' width="180">
                  </e-column>

                  <e-column field='ORG_NAME' textAlign="Left" headerTextAlign="Center" width="120"
                    headerText="{{'[Phòng ban]' | translate }}" clipMode='EllipsisWithTooltip'>
                  </e-column>
                  <e-column field='POSITION_NAME' textAlign="Left" headerTextAlign="Center" headerText="{{'[Chức danh]' | translate }}"
                    clipMode='EllipsisWithTooltip' width="120">
                  </e-column>
                  <e-column field='DAY1_CODE' textAlign="Center" headerText="{{'[01]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>

                  <e-column field='DAY2_CODE' textAlign="Center" headerText="{{'[02]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY3_CODE' textAlign="Center" headerText="{{'[03]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY4_CODE' textAlign="Center" headerText="{{'[04]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY5_CODE' textAlign="Center" headerText="{{'[05]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY6_CODE' textAlign="Center" headerText="{{'[06]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY7_CODE' textAlign="Center" headerText="{{'[07]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY8_CODE' textAlign="Center" headerText="{{'[08]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY9_CODE' textAlign="Center" headerText="{{'[09]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY10_CODE' textAlign="Center" headerText="{{'[10]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY11_CODE' textAlign="Center" headerText="{{'[11]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY12_CODE' textAlign="Center" headerText="{{'[12]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY13_CODE' textAlign="Center" headerText="{{'[13]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY14_CODE' textAlign="Center" headerText="{{'[14]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY15_CODE' textAlign="Center" headerText="{{'[15]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY16_CODE' textAlign="Center" headerText="{{'[16]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY17_CODE' textAlign="Center" headerText="{{'[17]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY18_CODE' textAlign="Center" headerText="{{'[18]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY19_CODE' textAlign="Center" headerText="{{'[19]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY20_CODE' textAlign="Center" headerText="{{'[20]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY21_CODE' textAlign="Center" headerText="{{'[21]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY22_CODE' textAlign="Center" headerText="{{'[22]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY23_CODE' textAlign="Center" headerText="{{'[23]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY24_CODE' textAlign="Center" headerText="{{'[24]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY25_CODE' textAlign="Center" headerText="{{'[25]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY26_CODE' textAlign="Center" headerText="{{'[26]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY27_CODE' textAlign="Center" headerText="{{'[27]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY28_CODE' textAlign="Center" headerText="{{'[28]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY29_CODE' textAlign="Center" headerText="{{'[29]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY30_CODE' textAlign="Center" headerText="{{'[30]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY31_CODE' textAlign="Center" headerText="{{'[31]' | translate }}" clipMode='EllipsisWithTooltip'
                    width="65" [allowFiltering]="false" [visible]='false'>
                  </e-column>
                  <e-column field='DAY1_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY3_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY4_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY5_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY6_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY7_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY8_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY9_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY10_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY11_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY12_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY13_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY14_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY15_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY16_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY17_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY18_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY19_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY20_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY21_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY22_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY23_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY24_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY25_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY26_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY27_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY28_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY29_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY30_ID' [visible]='false'>
                  </e-column>
                  <e-column field='DAY31_ID' [visible]='false'>
                  </e-column>
                </e-columns>
              </ejs-grid>
            </ng-template>
          </e-pane>
          <e-pane size='0' [collapsible]='true'>
          
          </e-pane>
        </e-panes>
      </ejs-splitter>
    </div>
  </div>
</div>
<cms-app-modalsshiftsort id="cms-app-modalsshiftsort"></cms-app-modalsshiftsort>
<input  id="file" type="file" name="name"
  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
  style="display: none;" (change)='inputFile($event!)' />
<v2hrm-confirm-modal id="confirm-import-modal">
  <div class="row full-width v2hrm-modal-header">
    {{'[Xác nhận Import]' | translate }}
  </div>
  <div class="row full-width v2hrm-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmImport('ok')">{{'[Đồng ý]' | translate }}</button>
    <button class="btn btn-default" (click)="confirmImport('cancel')">{{'[Huỷ]' | translate }}</button>
  </div>
</v2hrm-confirm-modal>