/* SIZES */
$grid-font-size: 13px;
$grid-avatar-size: 36px;
$header-avatar-size: 36px;
$navigation-bar-height: 54px;
$common-tools-height: 54px;
$common-tools-inner-height: 19.14px;

//ejs-treeview
$ejs-treeview-rootItemBackgroundColor: #FFF5EA;


/* COLORS */
$primary: #F37540; // màu text
$primary-hover: #F37540; // text-hover

$primary-background: #0f1a34; // màu background
$primary-background-text:#fff; // text trên background

$dashboard-bar: #D2D2D2;
$dashboard-bar-hover: #ECE9E9;

// size
$border-radius:0px;

//border
$border: 1px solid gray;

//button

$primary-button: #373063; // màu button
$primary-button-hover: #373063e6; // màu button-hover
$primary-button-text: white


