<div class="list-grid">
  <ejs-grid #overviewgridLstEmp id='overviewgridLstEmp'
    [dataSource]='data'
    (dataStateChange)="dataStateChange($event!)" rowHeight='35'
    headerHeight='40' height='400px'
    [allowPaging]='true' [pageSettings]='configs.pageSettings'
    [enableHover]='true' 
    [allowSorting]='true' allowResizing='true'
    [locale]='configs.currentLang' [allowSelection]='true'
    [showColumnChooser]='true'
    [selectionSettings]='configs.selectionSettings'
    [editSettings]='configs.editSettings'
    [allowFiltering]='true' [filterSettings]='configs.filterOption'>
    <e-columns>
      <!-- <e-column type='checkbox' [showInColumnChooser]='false'
        [allowFiltering]='false' [allowSorting]='false' width='50'
        textAlign="Center" [allowEditing]="false">
      </e-column> -->
      <e-column field='id' [showInColumnChooser]='false'
        [visible]='false' headerText='ID' [isPrimaryKey]='true'
        [allowEditing]="false">
      </e-column>
      <!--  -->
      <e-column field='employeeCode' textAlign="Center" headerText="{{'[Mã NV]' | translate }}" headerTextAlign="Center"
                      clipMode='EllipsisWithTooltip' width='120'></e-column>
                    <e-column field='employeeName' textAlign="Left" headerText="{{'[Họ và tên]' | translate }}"
                      clipMode='EllipsisWithTooltip'></e-column>
                    
                    <e-column field='companyName' textAlign="Left" headerText="{{'[Tên công ty]' | translate }}"
                      clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <e-column field='orgName' textAlign="Left" headerText="{{'[Phòng ban]' | translate }}" clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <e-column field='joinDate' headerTextAlign="Center" type="date"
                      [format]="{ type: 'date', format: 'dd/MM/yyyy' }" [allowFiltering]="false" textAlign="Center" headerText="{{'[Ngày vào làm việc]' | translate }}"
                      clipMode='EllipsisWithTooltip' width="126"></e-column>
                    <e-column field='endDate' headerTextAlign="Center" type="date"
                      [format]="{ type: 'date', format: 'dd/MM/yyyy' }" [allowFiltering]="false" textAlign="Center" headerText="{{'[Ngày nghỉ việc]' | translate }}"
                      clipMode='EllipsisWithTooltip' width="126"></e-column>
                    <e-column field='telephone' textAlign="Left" headerText="{{'[SĐT công ty]' | translate }}"
                      clipMode='EllipsisWithTooltip' width="190">
                    </e-column>
                    <e-column field='titleName' textAlign="Left" headerText="{{'[Chức danh]' | translate }}"
                      clipMode='EllipsisWithTooltip' width="215">
                    </e-column>
                    <e-column field='levelName' textAlign="Left" headerText="{{'[Cấp bậc]' | translate }}"
                      clipMode='EllipsisWithTooltip' width="215">
                    </e-column>
    </e-columns>
  </ejs-grid>
</div>
