<div class="app-main-content">
  <div class="app-container">
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-home" aria-hidden="true"></i>{{'[Hệ thống]' | translate }}
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/hrms/system/groupuserpermission'>{{'[Phân quyền nhóm tài khoản]' |
              translate
              }}</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="sys_groupuser_permission" [items$]="toolItems$"
          (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>

    <div class="app-content">
      <div class="row">
        <div class="col-sm-2 b-r">
          <div>
            <ejs-maskedtextbox #maskObj placeholder="Tìm kiếm..." id="search" (change)="searchNodes($event!)">
            </ejs-maskedtextbox>
            <ejs-treeview #listTreeObj id="default" [fields]='field' (nodeSelected)="userSelecting($event!)">
            </ejs-treeview>
          </div>
        </div>
        <div class="col-sm-10 p-l0">
          <ul class="nav nav-tabs group-filter" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a (click)="changetab(1)" class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                role="tab">{{'[Phân quyền chức năng]' | translate }}</a>
            </li>
            <li class="nav-item" role="presentation">
              <a (click)="changetab(2)" class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                role="tab">{{'[Phân quyền sơ đồ tổ chức]' | translate }}</a>
            </li>
            <li class="nav-item" role="presentation">
              <a (click)="changetab(3)" class="nav-link" id="report-tab" data-toggle="tab" href="#report"
                role="tab">{{'[Phân quyền báo cáo]' | translate }}</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home">
              <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data' (dataStateChange)="dataStateChange($event!)"
                rowHeight='40' headerHeight='52' [height]='configs.height()-30' [allowPaging]='true'
                [pageSettings]='configs.pageSettings' [enableHover]='true' [allowSorting]='false' allowResizing='true'
                [locale]='configs.currentLang'>
                <e-columns>
                  <e-column field='userGroupId' [visible]='false'>
                  </e-column>
                  <e-column field='userId' [visible]='false'>
                  </e-column>
                  <e-column field='functionId' [visible]='false'>
                  </e-column>
                  <e-column field='groupFuntionId' [visible]='false'>
                  </e-column>
                  <!--  -->
                  <e-column width="60" eaderTextAlign="Center" textAlign="Center" headerText="{{'[STT]' | translate }}"
                    clipMode="EllipsisWithTooltip">
                    <ng-template #template let-data>
                      <span>{{ formatStt(data.index) }}</span>
                    </ng-template>
                  </e-column>

                  <e-column field='functionName' headerTextAlign="Center" textAlign="Left"
                    headerText="{{'[Tên Chức năng]' | translate }}" clipMode='EllipsisWithTooltip' width="150">
                  </e-column>
                  <e-column field='groupFunctionName' headerTextAlign="Center" textAlign="Left"
                    headerText="{{'[Tên Nhóm chức năng]' | translate }}" clipMode='EllipsisWithTooltip' width="170">
                  </e-column>
                  <e-column field='moduleName' headerTextAlign="Center" textAlign="Left"
                    headerText="{{'[Tên Module]' | translate }}" clipMode='EllipsisWithTooltip' width="110"></e-column>
                  <!--  -->
                  <e-column [isPrimaryKey]='true' width="70" field='isAll' textAlign="Center"
                    headerText="{{'[All]' | translate }}">
                    <ng-template #headerTemplate let-data>
                      <div style="text-align: center;">
                        <div>
                          <span class="e-icon-userlogin e-icons employee"></span> All
                        </div>
                        <div>
                          <input type="checkbox" [(ngModel)]="checkAllHeader" (change)="checkAll($event)" />
                        </div>
                      </div>

                    </ng-template>


                    <ng-template #template let-data>
                      <input type="checkbox" [(ngModel)]="data.isAll" (change)="check(data, 'isAll',$event)">
                      <!-- <ejs-checkbox [ngModel]="data.isAll" (change)="check(data, 'isAll',$event)">
                      </ejs-checkbox> -->
                    </ng-template>
                  </e-column>
                  
                  <e-column [isPrimaryKey]='true' width="70" field='isView' textAlign="Center"
                    headerText="{{'[Xem]' | translate }}">
                    <ng-template #headerTemplate let-data>
                      <div style="text-align: center;">
                        <div>
                          <span class="e-icon-userlogin e-icons employee"></span> Xem
                        </div>
                        <div>
                          <input type="checkbox" [(ngModel)]="checkViewHeader"
                            (change)="checkAllButton('isView',$event)" />
                        </div>
                      </div>

                    </ng-template>
                    <ng-template #template let-data>
                      <input type="checkbox" [(ngModel)]="data.isView" (change)="check(data, 'isView',$event)">
                      <!-- 
                      <ejs-checkbox [ngModel]="data.isView" (change)="check(data, 'isView',$event)">
                      </ejs-checkbox> -->
                    </ng-template>
                  </e-column>
                  <e-column [isPrimaryKey]='true' width="70" field='isAdd' textAlign="Center"
                    headerText="{{'[Thêm]' | translate }}">
                    <ng-template #headerTemplate let-data>
                      <div style="text-align: center;">
                        <div>
                          <span class="e-icon-userlogin e-icons employee"></span> Thêm
                        </div>
                        <div>
                          <input type="checkbox" [(ngModel)]="checkAddHeader"
                            (change)="checkAllButton('isAdd',$event)" />
                        </div>
                      </div>

                    </ng-template>
                    <ng-template #template let-data>
                      <input type="checkbox" [(ngModel)]="data.isAdd" (change)="check(data, 'isAdd',$event)">

                      <!-- <ejs-checkbox [ngModel]="data.isAdd" (change)="check(data, 'isAdd',$event)">
                      </ejs-checkbox> -->
                    </ng-template>
                  </e-column>
                  <e-column [isPrimaryKey]='true' width="70" field='isEdit' textAlign="Center"
                    headerText="{{'[Sửa]' | translate }}">
                    <ng-template #headerTemplate let-data>
                      <div style="text-align: center;">
                        <div>
                          <span class="e-icon-userlogin e-icons employee"></span> Sửa
                        </div>
                        <div>
                          <input type="checkbox" [(ngModel)]="checkEditHeader"
                            (change)="checkAllButton('isEdit',$event)" />
                        </div>
                      </div>

                    </ng-template>
                    <ng-template #template let-data>
                      <!-- <ejs-checkbox [ngModel]="data.isEdit" (change)="check(data, 'isEdit',$event)">
                      </ejs-checkbox> -->
                      <input type="checkbox" [(ngModel)]="data.isEdit" (change)="check(data, 'isEdit',$event)">

                    </ng-template>
                  </e-column>
                  <e-column [isPrimaryKey]='true' width="70" field='isDelete' textAlign="Center"
                    headerText="{{'[Xóa]' | translate }}">
                    <ng-template #headerTemplate let-data>
                      <div style="text-align: center;">
                        <div>
                          <span class="e-icon-userlogin e-icons employee"></span> Xóa
                        </div>
                        <div>
                          <input type="checkbox" [(ngModel)]="checkDeleteHeader"
                            (change)="checkAllButton('isDelete',$event)" />
                        </div>
                      </div>

                    </ng-template>
                    <ng-template #template let-data>
                      <!-- <ejs-checkbox [ngModel]="data.isDelete" (change)="check(data,'isDelete',$event)">
                      </ejs-checkbox> -->
                      <input type="checkbox" [(ngModel)]="data.isDelete" (change)="check(data, 'isDelete',$event)">

                    </ng-template>
                  </e-column>
                  <e-column [isPrimaryKey]='true' width="100" field='isApproved' textAlign="Center"
                    headerText="{{'[Phê duyệt]' | translate }}">
                    <ng-template #headerTemplate let-data>
                      <div style="text-align: center;">
                        <div>
                          <span class="e-icon-userlogin e-icons employee"></span> Phê duyệt
                        </div>
                        <div>
                          <input type="checkbox" [(ngModel)]="checkApprovedHeader"
                            (change)="checkAllButton('isApproved',$event)" />
                        </div>
                      </div>

                    </ng-template>
                    <ng-template #template let-data>
                      <!-- <ejs-checkbox [ngModel]="data.isApproved" (change)="check(data,'isApproved',$event)">
                      </ejs-checkbox> -->
                      <input type="checkbox" [(ngModel)]="data.isApproved" (change)="check(data, 'isApproved',$event)">

                    </ng-template>
                  </e-column>
                  <e-column [isPrimaryKey]='true' width="100" field='isLock' textAlign="Center"
                    headerText="{{'[Khóa/Mở]' | translate }}">
                    <ng-template #headerTemplate let-data>
                      <div style="text-align: center;">
                        <div>
                          <span class="e-icon-userlogin e-icons employee"></span> Khóa/Mở
                        </div>
                        <div>
                          <input type="checkbox" [(ngModel)]="checkLockHeader"
                            (change)="checkAllButton('isLock',$event)" />
                        </div>
                      </div>

                    </ng-template>
                    <ng-template #template let-data>
                      <!-- <ejs-checkbox [ngModel]="data.isLock" (change)="check(data,'isLock',$event)">
                      </ejs-checkbox> -->
                      <input type="checkbox" [(ngModel)]="data.isLock" (change)="check(data, 'isLock',$event)">

                    </ng-template>
                  </e-column>
                  <e-column [isPrimaryKey]='true' width="100" field='isSum' textAlign="Center"
                    headerText="{{'[Tổng hợp công]' | translate }}">
                    <ng-template #headerTemplate let-data>
                      <div style="text-align: center;">
                        <div>
                          <span class="e-icon-userlogin e-icons employee"></span> Tổng hợp
                        </div>
                        <div>
                          <input type="checkbox" [(ngModel)]="checkSumHeader"
                            (change)="checkAllButton('isSum',$event)" />
                        </div>
                      </div>

                    </ng-template>
                    <ng-template #template let-data>
                      <!-- <ejs-checkbox [ngModel]="data.isSum" (change)="check(data,'isSum',$event)">
                      </ejs-checkbox> -->
                      <input type="checkbox" [(ngModel)]="data.isSum" (change)="check(data, 'isSum',$event)">

                    </ng-template>
                  </e-column>
                  <e-column [isPrimaryKey]='true' width="100" field='isCal' textAlign="Center"
                    headerText="{{'[Tính lương]' | translate }}">
                    <ng-template #headerTemplate let-data>
                      <div style="text-align: center;">
                        <div>
                          <span class="e-icon-userlogin e-icons employee"></span> Tính lương
                        </div>
                        <div>
                          <input type="checkbox" [(ngModel)]="checkCalHeader"
                            (change)="checkAllButton('isCal',$event)" />
                        </div>
                      </div>

                    </ng-template>
                    <ng-template #template let-data>
                      <!-- <ejs-checkbox [ngModel]="data.isCal" (change)="check(data,'isCal',$event)">
                      </ejs-checkbox> -->
                      <input type="checkbox" [(ngModel)]="data.isCal" (change)="check(data, 'isCal',$event)">

                    </ng-template>
                  </e-column>
                  <e-column [isPrimaryKey]='true' width="70" field='isImport' textAlign="Center"
                    headerText="{{'[Import]' | translate }}">
                    <ng-template #headerTemplate let-data>
                      <div style="text-align: center;">
                        <div>
                          <span class="e-icon-userlogin e-icons employee"></span> Import
                        </div>
                        <div>
                          <input type="checkbox" [(ngModel)]="checkImportHeader"
                            (change)="checkAllButton('isImport',$event)" />
                        </div>
                      </div>

                    </ng-template>
                    <ng-template #template let-data>
                      <!-- <ejs-checkbox [ngModel]="data.isImport" (change)="check(data,'isImport',$event)">
                      </ejs-checkbox> -->
                      <input type="checkbox" [(ngModel)]="data.isImport" (change)="check(data, 'isImport',$event)">

                    </ng-template>
                  </e-column>
                  <e-column [isPrimaryKey]='true' width="70" field='isExport' textAlign="Center"
                    headerText="{{'[Export]' | translate }}">
                    <ng-template #headerTemplate let-data>
                      <div style="text-align: center;">
                        <div>
                          <span class="e-icon-userlogin e-icons employee"></span> Export
                        </div>
                        <div>
                          <input type="checkbox" [(ngModel)]="checkExportHeader"
                            (change)="checkAllButton('isExport',$event)" />
                        </div>
                      </div>

                    </ng-template>
                    <ng-template #template let-data>
                      <!-- <ejs-checkbox [ngModel]="data.isExport" (change)="check(data,'isExport',$event)">
                      </ejs-checkbox> -->
                      <input type="checkbox" [(ngModel)]="data.isExport" (change)="check(data, 'isExport',$event)">

                    </ng-template>
                  </e-column>
                  <e-column [isPrimaryKey]='true' width="70" field='isSendMail' textAlign="Center"
                    headerText="{{'[Gửi mail]' | translate }}">
                    <ng-template #headerTemplate let-data>
                      <div style="text-align: center;">
                        <div>
                          <span class="e-icon-userlogin e-icons employee"></span> {{'[Gửi mail]' | translate }}
                        </div>
                        <div>
                          <input type="checkbox" [(ngModel)]="checkSendMailHeader"
                            (change)="checkAllButton('isSendMail',$event)" />
                        </div>
                      </div>

                    </ng-template>
                    <ng-template #template let-data>
                      <!-- <ejs-checkbox [ngModel]="data.isSendMail" (change)="check(data,'isSendMail',$event)">
                    </ejs-checkbox> -->
                      <input type="checkbox" [(ngModel)]="data.isSendMail" (change)="check(data, 'isSendMail',$event)">

                    </ng-template>
                  </e-column>
                  <e-column [isPrimaryKey]='true' width="130" field='isCreate' textAlign="Center"
                    headerText="{{'[Khởi tạo]' | translate }}">
                    <ng-template #headerTemplate let-data>
                      <div style="text-align: center;">
                        <div>
                          <span class="e-icon-userlogin e-icons employee"></span> {{'[Khởi tạo]' | translate }}
                        </div>
                        <div>
                          <input type="checkbox" [(ngModel)]="checkCreateHeader"
                            (change)="checkAllButton('isCreate',$event)" />
                        </div>
                      </div>

                    </ng-template>
                    <ng-template #template let-data>
                      <input type="checkbox" [(ngModel)]="data.isCreate" (change)="check(data, 'isCreate',$event)">

                    </ng-template>
                  </e-column>
                  <e-column [isPrimaryKey]='true' width="130" field='isSend' textAlign="Center"
                    headerText="{{'[Gửi duyệt]' | translate }}">
                    <ng-template #headerTemplate let-data>
                      <div style="text-align: center;">
                        <div>
                          <span class="e-icon-userlogin e-icons employee"></span> {{'[Gửi duyệt]' | translate }}
                        </div>
                        <div>
                          <input type="checkbox" [(ngModel)]="checkSendHeader"
                            (change)="checkAllButton('isSend',$event)" />
                        </div>
                      </div>

                    </ng-template>
                    <ng-template #template let-data>
                      <input type="checkbox" [(ngModel)]="data.isSend" (change)="check(data, 'isSend',$event)">
                    </ng-template>
                  </e-column>
                </e-columns>
              </ejs-grid>
            </div>
            <div class="tab-pane fade" id="profile">
              <ejs-treeview #treeView [fields]='field2' [showCheckBox]='showCheckBox'>
              </ejs-treeview>
            </div>
            <div class="tab-pane fade" id="report">
              <!-- help: https://ej2.syncfusion.com/angular/documentation/grid/grouping/ -->
              <ejs-grid #gridReport [dataSource]='datareport' [groupSettings]=" { columns: ['moduleName'] }"
                [allowGrouping]='true' headerHeight='52' height='267px' (dataStateChange)="dataStateChange($event!)"
                rowHeight='40' headerHeight='52' [pageSettings]='configs.pageSettings' [enableHover]='true'
                [allowSorting]='false' allowResizing='true' [locale]='configs.currentLang'>
                <e-columns>
                  <e-column field='moduleName' headerTextAlign="Center" textAlign="Left"
                    headerText="{{'[Module]' | translate }}" clipMode='EllipsisWithTooltip' width="150">
                  </e-column>
                  <e-column field='reportType' headerTextAlign="Center" textAlign="Left"
                    headerText="{{'[Loại báo cáo]' | translate }}" clipMode='EllipsisWithTooltip' width="150">
                  </e-column>
                  <e-column field='reportName' headerTextAlign="Center" textAlign="Left"
                    headerText="{{'[Tên báo cáo]' | translate }}" clipMode='EllipsisWithTooltip' width="150">
                  </e-column>

                  <e-column field='isPermision' headerTextAlign="Center" textAlign="Left"
                    headerText="{{'[Phân quyền]' | translate }}" clipMode='EllipsisWithTooltip' width="100">
                    <ng-template #headerTemplate let-data>
                      <div style="text-align: center;">
                        <div>
                          <span class="e-icon-userlogin e-icons employee"></span> {{'[Phân quyền]' | translate }}
                        </div>
                        <div>
                          <input type="checkbox" [(ngModel)]="checkExportHeader" (change)="checkAllReport($event)" />
                        </div>
                      </div>
                    </ng-template>
                    <ng-template #template let-data>
                      <div style="text-align: center;">
                        <input type="checkbox" [(ngModel)]="data.isPermision" (change)="checkReport(data ,$event)">
                      </div>
                    </ng-template>
                  </e-column>
                </e-columns>
              </ejs-grid>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>