<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-home" aria-hidden="true"></i>{{'[Hồ sơ]' | translate }} <i class="fa fa-angle-right"
              aria-hidden="true"></i>{{'[Danh mục]' | translate }}
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/hrms/profile/list/salarylevel'>{{'[Bậc lương]' | translate }}</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="salarylevel" [items$]="toolItems$"
          (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>
    <div class="app-content">
      <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async' (dataStateChange)="dataStateChange($event!)"
        rowHeight='37' headerHeight='42' [height]='configs.height()' [allowPaging]='true'
        [pageSettings]='configs.pageSettings' [enableHover]='true' [allowSorting]='true' allowResizing='true'
        [locale]='configs.currentLang' [allowSelection]='true' [showColumnChooser]='true'
        [selectionSettings]='configs.selectionSettings' [editSettings]='configs.editSettings'
        (rowSelecting)="setButtonStatus($event!)" (rowDeselecting)="setButtonStatus($event!)" [allowFiltering]='true' [filterSettings]='configs.filterOption'
        [allowExcelExport]="true" (excelQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (excelHeaderQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (pdfQueryCellInfo)='configs.exportQueryCellInfo($event)'
                  (pdfHeaderQueryCellInfo)='configs.exportQueryCellInfo($event)'>
        <e-columns>
          <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false' [allowSorting]='false'
            width='60' textAlign="Center" [allowEditing]="false">
          </e-column>
          <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID' [isPrimaryKey]='true'
            [allowEditing]="false">
          </e-column>

          <e-column field='code' headerTextAlign="Center" textAlign="Left"
            headerText="{{'[Mã bậc lương]' | translate }}" clipMode='EllipsisWithTooltip' width="120"></e-column>
          <e-column field='name' headerTextAlign="Center" textAlign="Left"
            headerText="{{'[Tên bậc lương]' | translate }}" clipMode='EllipsisWithTooltip' width="120"></e-column>
          <e-column field='monney' headerTextAlign="Center" textAlign="Right" format="N0"
            headerText="{{'[Số tiền]' | translate }}" clipMode='EllipsisWithTooltip' width="120"></e-column>

          <e-column field='salaryRankName' headerTextAlign="Center" textAlign="Center"
            headerText="{{'[Ngạch lương]' | translate }}" clipMode='EllipsisWithTooltip' width="120"></e-column>
          <e-column field='salaryScaleName' headerTextAlign="Center" textAlign="Center"
            headerText="{{'[Thang lương]' | translate }}" clipMode='EllipsisWithTooltip' width="120"></e-column>

          <e-column field='note' headerTextAlign="Center" textAlign="Left" headerText="{{'[Ghi chú]' | translate }}"
            clipMode='EllipsisWithTooltip'>
          </e-column>

          <!--  -->
          <e-column field='isActiveText' textAlign="Center" headerText="{{'[Trạng thái]' | translate }}"
            clipMode='EllipsisWithTooltip' width="120">
            <ng-template #template let-data>
              <div class="row-status full-width">
                <div class="status-effect text-center" *ngIf="data.isActive">
                  <span>{{'[Hiệu lực]' | translate }}</span>
                </div>
                <div class="status-not-effect text-center" *ngIf="!data.isActive">
                  <span>{{'[Không hiệu lực]' | translate }}</span>
                </div>
              </div>
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>

  </div>
</div>
<ejs-dialog id="animationDialog" [header]='dialogHeader' [isModal]='true' #defaultDialog [visible]='false'
  [animationSettings]='animationSettings' [showCloseIcon]='true' target='.app-container' [width]="900">
  <ng-template #content>
    <div class="card">
      <app-common-tools name="salarylevel" [items$]="toolItemsEdit$"
        (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      <form name="editForm" [formGroup]="editForm" novalidate>
        <div class="group-box">
          <!-- title -->
          <div class="card-head">
            <div class="icon-info v-icon"></div>
            <label class="title">{{'[Thông tin]' | translate }}</label>
          </div>
          <!--  -->
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required">{{'[Mã]' | translate }}</label>
                <input class="form-control" type="text" formControlName="code" [(ngModel)]="model.code" maxlength="31">
                <span class="input-error"
                  *ngIf="editForm.get('code')!.hasError('required') && !editForm.get('code')!.untouched">
                  {{'[Bắt buộc nhập]' | translate }}
                </span>
                <span class="input-error "
                  *ngIf="editForm.get('code')!.hasError('incorrect') && !editForm.get('code')!.untouched">
                  {{'[Sai định dạng]' | translate }}
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required">{{'[Tên]' | translate }}</label>
                <input class="form-control" type="text" formControlName="name" [(ngModel)]="model.name" maxlength="31">
                <span class="input-error"
                  *ngIf="editForm.get('name')!.hasError('required') && !editForm.get('name')!.untouched">
                  {{'[Bắt buộc nhập]' | translate }}
                </span>
                <span class="input-error "
                  *ngIf="editForm.get('name')!.hasError('incorrect') && !editForm.get('name')!.untouched">
                  {{'[Sai định dạng]' | translate }}
                </span>
              </div>
            </div>
            <!--  -->
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required">{{'[Thang lương]' | translate }}</label>
                <ejs-dropdownlist [dataSource]='lstSalaryScaleId' [fields]='fields' [showClearButton]="true"
                  [(ngModel)]="model.salaryScaleId" formControlName="salaryScaleId" [placeholder]="''"
                  [allowFiltering]='true' (filtering)='onFiltering($event,lstSalaryScaleId)'
                  (change)="changeSalaryScale($event!)">
                </ejs-dropdownlist>
                <span class="input-error"
                  *ngIf="editForm.get('salaryScaleId')!.hasError('required') && !editForm.get('salaryScaleId')!.untouched">
                  {{'[Bắt buộc chọn]' | translate }}
                </span>
              </div>
            </div>
            <!--  -->
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required">{{'[Ngạch lương]' | translate }}</label>
                <ejs-dropdownlist [dataSource]='lstSalaryRankId' [fields]='fields' [showClearButton]="true"
                  [(ngModel)]="model.salaryRankId" formControlName="salaryRankId" [placeholder]="''"
                  [allowFiltering]='true' (filtering)='onFiltering($event,lstSalaryRankId)'>
                </ejs-dropdownlist>
                <span class="input-error"
                  *ngIf="editForm.get('salaryRankId')!.hasError('required') && !editForm.get('salaryRankId')!.untouched">
                  {{'[Bắt buộc chọn]' | translate }}
                </span>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text required">{{'[Số tiền]' | translate }}</label>
                <ejs-numerictextbox format="N0" locale="en" name="monney" formControlName="monney"
                  [(ngModel)]="model.monney" min="0" max="999999999">
                </ejs-numerictextbox>
                <span class="input-error"
                  *ngIf="editForm.get('monney')!.hasError('required') && !editForm.get('monney')!.untouched">
                  {{'[Bắt buộc nhập]' | translate }}
                </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text">{{'[Hệ số]' | translate }}</label>
                <ejs-numerictextbox format="N2" locale="en" name="coefficient" formControlName="coefficient"
                  [(ngModel)]="model.coefficient" min="0" max="999999999">
                </ejs-numerictextbox>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text">{{'[Số thứ tự]' | translate }}</label>
                <ejs-numerictextbox format="N0" locale="en" name="orders" formControlName="orders"
                  [(ngModel)]="model.orders" min="0" max="999999999">
                </ejs-numerictextbox>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group vertical">
                <label class="e-float-text">{{'[Ghi chú]' | translate }}</label>
                <textarea class="form-control" type="text" formControlName="note" [(ngModel)]="model.note"></textarea>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>


  </ng-template>
</ejs-dialog>
<!-- CONFIRM DELETE MODAL-->
<v2hrm-confirm-modal id="confirm-delete-modal">
  <div class="row full-width v2hrm-modal-header">
    {{'[Bạn chắc chắn muốn xóa dữ liệu này?]' | translate }}
  </div>
  <div class="row full-width v2hrm-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">{{'[Đồng ý]' | translate }}</button>
    <button class="btn btn-default" (click)="confirmDelete('cancel')">{{'[Huỷ]' | translate }}</button>
  </div>
</v2hrm-confirm-modal>