cms-app-job {
    .b-r {
        border-right: 1px solid #ccc;
        padding-top: 0.5rem!important;
    }
    .p-l {
       padding-left: 0px !important;
    }
    .dashboard-card{
        padding-top: 15px;

    }
    .e-ddl{
        width: 100%!important;
        background: white!important;

    }
    #selectIndex{
        height: 34px!important;
        line-height: 27px!important;
    }
}
